.announcement-section {
    position: relative;
}

.announcement-section .content {
    padding-bottom: 1em;
    display: grid;
}

.announcement-section .content .header{
    margin-top: -0.5em;
    margin-bottom: 1em;
    font-size: 1.8rem;
    text-align: left; 
    display: block;
    font-weight: bold;
}

.announcement {
    display: grid;
    padding: 1em;
    grid-template-areas: "header header"
                         "img description";
}

.announcement h1 {
    text-align: left;
    padding-left: 0.6em;
    grid-area: header;
    font-size: 1em;
    font-weight: bold;
}

.announcement img {
    grid-area: img;
}

.announcement p {
    align-self: center;
    grid-area: description;
    padding-left: 0.6em;
}

/* Mobile view stagger the views */
.announcement:nth-of-type(2) h1{
    padding-left: unset;
    padding-right: 0.5em;
    text-align: right;
    grid-area: header;
}

.announcement:nth-of-type(2) p{
    grid-area: img;
}

.announcement:nth-of-type(2) img{
    grid-area: description;
}

@media only screen and (min-width: 768px){
    .announcement-section .content .header {
        font-size: 3rem;
        position: absolute;
        top: 25%;
        left: 2%;
        color: white
    }

    .announcement-section .content:not(h1) {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .announcement {
        grid-template-areas: "img img"
                              "header header"
                              "description description";
    }

    .announcement:nth-of-type(2) h1{
        grid-area: header;
        text-align: left;
    }

    .announcement:nth-of-type(2) p{
        grid-area: description;
    }

    .announcement:nth-of-type(2) img{
        grid-area: img;
    }
}