.announcement-section .content {
    padding-bottom: 1em;
    display: grid;
}

.announcement-section .content .header{
    margin-top: -0.5em;
    margin-bottom: 1em;
    font-size: 1.8rem;
    text-align: left; 
}

.announcement {
    display: grid;
    padding: 1em;
    grid-template-areas: "header header"
                         "img description";
}

.announcement h1 {
    text-align: left;
    padding-left: 0.5em;
    grid-area: header;
}

.announcement img {
    grid-area: img;
}

.announcement p {
    align-self: center;
    grid-area: description;
}

/* Mobile view stagger the views */
.announcement:nth-of-type(2) h1{
    padding-left: unset;
    padding-right: 0.5em;
    text-align: right;
    grid-area: header;
}

.announcement:nth-of-type(2) p{
    grid-area: img;
}

.announcement:nth-of-type(2) img{
    grid-area: description;
}