footer {
    width: 100%;        
    display: block;
    margin: 0 auto;
}

footer .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
}

footer .icon-container svg{
    transition: all 0.3s ease-in-out;
}

footer .icon-container svg:hover{
    transition: all 0.3s ease-in-out;
    animation: wiggle 0.5s ease-in-out infinite;
}

footer .icon-container svg:hover path {
    transition: all 0.3s ease-in-out;
    fill: var(--primary-purple-light);
}

@keyframes wiggle {
    0%{
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

footer form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    padding: 0 1em;
}

.page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-dir {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page-dir a {
    padding: 0.8em 0em;
    font-size: 4vw;
    color: black;
    text-decoration: none;
}

.page-dir h4 {
    font-size: 7vw;
    font-weight: bold;
}

.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
}

.link--metis {
    position: relative;
    text-transform: uppercase;
}

.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

@media only screen and (min-width: 768px) {

    footer .icon-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icon-container svg {
        width: 5vw;
        height: 5vw;
    }

    .page-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em 5em;
    }

    .page-dir h4 {
        font-size: 1.5rem;
    }
    
    .page-dir a {
        font-size: 1.2rem;
    }

    #email {
        width: 50%;
    }
}
