.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logo-container {
    margin: 1em 1em 1em 5em;
}

.logo {
    font-size: 1.5rem;
    color: var(--primary-purple);
    font-weight: bold;
}

.nav {
    display: none;
}

.menu-icon-container {
    padding-right: 1em;
}

.drawer-list-item p{
    letter-spacing: 0.05rem;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: default;
    text-align: right;
}

.drawer-list-links-container a{
    padding: 0.3em 0;
    display: block;
    color: white;
    text-decoration: none;
    text-align: right;
}

.hamburger-icon:hover rect:first-of-type{
    width: 100%;
    transition: width 0.3s ease-in-out;
}

.hamburger-icon:hover rect:last-of-type {
    width: 100%;
    transition: width 0.6s ease-in-out;
}

@media only screen and (min-width: 768px){
    /* .menu-icon-container {
        display: none;
    } */

    .nav {
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        margin-right: 5em;
    }

    .nav-item {
        position: relative;
        margin: 0 3em;
        cursor: pointer;
    }

}