.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-purple);
}

.logo-container {
    margin: 1em 1em 1em 3em;
}

.logo {
    font-size: 0.8rem;
    color: var(--primary-text-color);
}

.nav {
    display: none;
}

.menu-icon-container {
    padding-right: 1em;
    z-index: 999;
}

@media only screen and (min-width: 768px){
    .menu-icon-container {
        display: none;
    }

    .nav {
        display: unset;
    }

    .nav-item {
        padding-left: 2em;
        padding-right: 2em;
        display: inline-block;
        transition: all 0.3s linear;
    }

    .nav-item p {
        position: relative;
        cursor: default; /* Prevent text cursor from showing on hover tag */
        color: white;
    }

    .nav-item:hover p{
        font-weight: bold;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--primary-purple-light);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 0.5em;
        transition: all 0.3s linear;
    }

    .dropdown-content:last-of-type {
        margin-left: -8em;
    }

    .dropdown-content a {
        color: white;
        padding: 1.3em;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        font-weight: bold;
        border-radius: 0.5em; /* Ensures content border radius (please don't remove) */
        background-color: var(--primary-purple);
    }

    .nav-item:hover .dropdown-content {        
        display: block;
    }

    .nav-arrow {
        font-size: 0.8rem;
        transition: all 0.3s linear;
        writing-mode: unset;
    }

    .nav-item:hover .nav-arrow {
        writing-mode:vertical-rl;
        transition: all 0.3s linear;
        transform: rotate(180deg);
    }

}