.hero-section {
    display: block;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.hero-title-container {
    margin: 1em 0;
    grid-area: text;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title-container h1 {
    color: var(--primary-purple);
    font-size: 8vw;
}

.hero-title-container span:first-of-type {
    font-size: 8.5vw;
}

.hero-image-parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-container {
    background-color: var(--secondary-blue);
    position: relative;
    border-radius: 50%;
    width: 95vw;
    height: 95vw;
    padding-top: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2em;
    padding: 3em;
}

.chevron-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: arrow;

    cursor: pointer;
}

.hero-text {
  color: var(--secondary-blue);
  display: block;
  width: 6ch;
  animation: typing 3s steps(6), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0ch;
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media only screen and (min-width: 768px){
    .hero-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "text img"
                            "text img"
                            "arrow arrow";
    }

    .hero-title-container {
        margin: 0;
        grid-area: text;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.hero-title-container h1 {
    color: var(--primary-purple);
    font-size: 4vw;
}

.hero-title-container span:first-of-type {
    font-size: 4.5vw;
}

.hero-title-container span:last-of-type {
    color: var(--primary-light-blue);
}

.hero-image-parent-container {
    grid-area: img;
    justify-content: center;
    padding-top: 12vh;
}

.hero-image-container {
    background-color: var(--secondary-blue);
    position: relative;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    padding-top: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3em;
}

}

