.hero-section {
    display: block;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.hero-title-container {
    margin: 0.5em 0;
    grid-area: text;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero-title-container h1 {
    color: var(--primary-purple);
    font-size: 8vw;
    font-weight: bold;
    transition: text-shadow 0.3s ease;
    letter-spacing: 3px;
}

.hero-title-container span:first-of-type {
    font-size: 9vw;
}

.hero-image-parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-container {
    position: relative;
    border-radius: 50%;
    width: 75vw;
    height: 95vw;
    padding-top: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2em;
    padding: 3em;
}

.chevron-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: arrow;

    cursor: pointer;
}

.hero-text {
  color: var(--secondary-blue);
  display: block;
  font-weight: bold;
    text-shadow: 4px 4px var(--secondary-blue);
}

.stem-anim::before, .stem-anim::after {
    position: absolute;
    width: 100%;
    height: 5px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 100% 50%;
    -webkit-transform: scale3d(0, 1, 1);
    -moz-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s
}

.stem-anim {
    position: relative;
}

.stem-anim:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.stem-anim::before {
    content: '';
}

@media only screen and (min-width: 768px){
    .hero-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "text img"
                            "text img"
                            "arrow arrow";
    }

    .hero-title-container {
        margin: 0;
        grid-area: text;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.hero-title-container h1 {
    color: var(--primary-purple);
    font-size: 4vw;
}

.hero-title-container span:first-of-type {
    font-size: 4.5vw;
}

.hero-title-container span:last-of-type {
    color: var(--primary-light-blue);
}

.hero-image-parent-container {
    grid-area: img;
    justify-content: center;
    padding-top: 3vh;
    margin: 3em 0;
    pointer-events: none;
}

.hero-image-container {
    position: relative;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    padding-top: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2em;
    border: 2px solid var(--primary-purple);
}

}

