.hero-section {
    display: block;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.hero-title-container {
    margin: 0.5em 0;
    grid-area: text;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-title-container h1 {
    color: var(--primary-purple);
    font-size: 8vw;
    font-weight: bold;
    transition: text-shadow 0.3s ease;
    letter-spacing: 3px;
}

.hero-title-container span:first-of-type {
    font-size: 9vw;
}

.hero-image-parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-container {
    position: relative;
    border-radius: 50%;
    width: 95vw;
    height: 95vw;
    padding-top: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2em;
    padding: 3em;
}

.chevron-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: arrow;

    cursor: pointer;
}

.hero-text {
  color: var(--secondary-blue);
  display: block;
  font-weight: bold;
    text-shadow: 2px 2px var(--secondary-blue);
}

@media only screen and (min-width: 768px){
    .hero-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "text img"
                            "text img"
                            "arrow arrow";
    }

    .hero-title-container {
        margin: 0;
        grid-area: text;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.hero-title-container h1 {
    color: var(--primary-purple);
    font-size: 4vw;
}

.hero-title-container span:first-of-type {
    font-size: 4.5vw;
}

.hero-title-container span:last-of-type {
    color: var(--primary-light-blue);
}

.hero-image-parent-container {
    grid-area: img;
    justify-content: center;
    padding-top: 8vh;
}

.hero-image-container {
    position: relative;
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
    padding-top: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3em;
    border: 2px solid var(--primary-purple);
}

}

