.mission-section {
    position: relative;
    height: auto;
}

.content {
    background-color: var(--primary-purple);
}

.mission-header {
    position: absolute;
    top: 7%;
    left: 2%;
    font-size: 2rem;
    color: white;
}

.content {
    display: grid;
    padding: 1em;
    text-align: center;
    padding-top: 2em;
    color: white;
}

.subheading {
    color: var(--secondary-blue);
    text-align: center;
}

.mission-description p {
    margin-left: 0.5em;
}

.mission-description:last-of-type {
    padding-bottom: 1em;
}

#diamond {
    display: none;
}

#checkpad {
    display: none;
}

@media only screen and (min-width: 767px) {
    .mission-header {
        font-size: 4rem;
    }

    .subheading {
        font-size: 2rem;
    }

    .mission-description {
        display: grid;
        grid-template-columns: 60% auto;
        column-gap: 1em;
        position: relative;
        font-size: 2rem;
    }

    .left-text {
        float: left;
        margin-left: 1em;
    }

    #diamond {
        display: unset;
    }

    .mission-description:nth-of-type(2) {
        grid-template-columns: 40% auto;
    }

    .right-text {
        align-self: center;
    }

    #checkpad {
        grid-row: 1 / span 1;
        display: unset;
        width: 40%;
        margin-left: 1em;
    }

}
