.mission-section {
    position: relative;
    height: 100%;
}

.content {
    background-color: var(--primary-purple);
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    color: white;
}

.mission-header {
    position: absolute;
    top: 7%;
    left: 2%;
    font-size: 2rem;
    color: white;
}

.subheading {
    color: var(--secondary-blue);
    text-align: center;
    margin: 1em;
}

.subheading:first-of-type {
    padding-top: 1em;
}

.mission-description:last-of-type {
    padding-bottom: 1em;
}

.mission-vector {
    display: none;
}

@media only screen and (min-width: 767px) {
    .mission-header {
        font-size: 4rem;
    }

    .subheading {
        font-size: 3rem;
    }

    .mission-description {
        display: grid;
        position: relative;
        align-items: center;
        justify-items: center;
        grid-template-columns: 60% auto;
        font-size: 2rem;
    }

    .mission-description:nth-of-type(2){
        grid-template-columns: 30% auto;
        grid-template-areas: "img text";
    }

    .mission-description:nth-of-type(2) p {
        grid-area: text;
    }

    .mission-description:nth-of-type(2) svg {
        grid-area: img;
    }

    .mission-vector {
        display: unset;
        align-self: center;
    }
 
}
