.slide-drawer {
    position: absolute;
    background-color: var(--primary-purple);
    height: 110%;
    width: 70%;
    text-align: right;
    transition: 2s linear;
    overflow: hidden;
    z-index: 999;
}

.drawer-list {
    padding-top: 40%;
    padding-right: 10%;
}

.drawer-list-item {
    line-height: 1.9em;
}

.drawer-list-item p{
    letter-spacing: 0.05rem;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 1.4rem;
    cursor: default;
}

.drawer-list-links-container a{
    padding: 0.3em 0;
    display: block;
    color: white;
    text-decoration: none;
    text-align: right;
}