.testimonials-section {
    display: block;
    text-align: center;
    align-items: center;
    margin-bottom: 5em;
}

.testimonials-section h1 {
    padding-top: 1em;
    color: var(--primary-purple-light);
}

.slick-list {margin: 0 -10px;}
.slick-slide>div {padding: 0 10px;}

.slider-container {
    margin: 1em;
}

.slider-wrapper {
    display: grid;
    border-radius: 1em;
    box-shadow: 1px 10px 15px -7px rgba(49, 49, 49, 0.75);
    -webkit-box-shadow: 1px 10px 15px -7px rgba(49, 49, 49, 0.75);
    -moz-box-shadow: 1px 10px 15px -7px rgba(49, 49, 49, 0.75);
}

.testimonials-section .slide, .testimonials-section .activeSlide {
    background-color: var(--primary-light-blue);
    position: relative;
    border-radius: 1em;
    margin-top: 4em;
    margin-bottom: 1em;
    height: minmax(auto,20vw);
    padding: 1em;
    color: white;
    transform: all 0.3s linear;
}

.testimonials-section .slide:hover img, .testimonials-section .activeSlide:hover img{
    transform: all 0.3s linear;
    animation: jump 1s linear;
}

.testimonials-section .slide:hover .testimonial-name, .testimonials-section .activeSlide:hover .testimonial-name{
    transform: all 3s ease-in-out;
    font-weight: 700;
}

@keyframes jump {
     0% { transform: translate(-10%, -15%) scale(1.25, 0.75); }
    50% { transform: translate(-10%, -15%) scale(1, 1); }
    55% { transform: translate(-10%, -15%) rotate(15deg); }
    60% { transform: translate(-10%, -15%) rotate(-15deg); }
    65% { transform: translate(-10%, -15%) rotate(15deg); }
    70% { transform: translate(-10%, -15%) rotate(-15deg); }
    100% { transform: translate(-10%, -15%) scale(1.25, 0.75); }
}

.testimonial-img{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -17%;
    text-align: center;
    width: 100px;
    height: 100px;
}

.testimonial-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testimonial-msg {
    padding-top: 3em;
}

.testimonial-name {
    padding-left: 1em;
    float: left;
    font-weight: 250;
    transform: all 0.3s ease-in-out;
}

.quote-icon {
    float: right;
}

.quote-icon svg{
    margin-bottom: 1.5em;
}

@media only screen and (min-width: 768px) {
    .testimonials-section h1 {
        font-size: 3rem;
    }
}