:root {
    --circle-size: 50px;
    --border-size: 5px;
}

.timelineCard {
    display: flex;
    align-items: center;
}

.timeline-content-container {
    margin-left: 1em;
}


.TimelineCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
    padding-top: 50px;
}

.circle {
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    border: var(--border-size) solid var(--primary-light-blue);
    position: relative;
}

.circle:hover {
    background-color: var(--primary-light-blue);
}

.first .timeline {
    border-right: 5px solid var(--primary-light-blue);
    height: 50px;
}

.timeline {
    border-right: 5px solid var(--primary-light-blue);
    height: 100px;
    margin-left: calc((var(--circle-size) + var(--border-size))/2.5);
}
