:root {
  --primary-purple: #7230e9;
  --primary-purple-light: #9c73ff;
  --secondary-purple: #c1c8e4;
  --primary-dark-blue: #5680e9;
  --primary-light-blue: #79d9ff;
  --secondary-blue: #84ceeb;
  --primary-text-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  padding: 1em;
  justify-content: center;
}

.grid-container {
  display: grid;
  padding: 1em;
}

.page-header {
  font-size: 10vw;
  font-weight: bold;
  letter-spacing: 0.1em;
}

@media only screen and (min-width: 768px) {
  .page-header {
    font-size: 4vw;
  }
}
