@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

:root {
  --primary-purple: #7230E9;
  --primary-purple-light: #9C73FF;
  --secondary-purple: #C1c8e4;
  --primary-dark-blue: #5680e9;
  --primary-light-blue: #5ab9ea;
  --secondary-blue: #84ceeb;
  --primary-pink: #FF66E7;
  --primary-text-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body,html {
  overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
  list-style: none
}
