.page-not-found-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-not-found-content h1 {
    color: var(--primary-purple);
    font-size: 8vw;
}

.page-not-found-content h3 {
    color: var(--primary-light-blue);
    font-size: 5vw;
}

.error-img {
    margin: 1em;
    padding: 1em;
    border: 2px solid var(--primary-purple);
    border-radius: 1em;
    width: 80vw;
    height: 100vw;
}

@media only screen and (min-width: 768px) {
    .page-not-found-content h1 {
        font-size: 3vw;
    }

    .page-not-found-content h3 {
        font-size: 2vw;
    }

    .error-img {
        width: 50vw;
        height: 42vw;
    }
}
