.page-not-found .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-not-found .content h1 {
    font-size: 2rem;
}

.error-img {
    margin: 1em;
    padding: 1em;
    border: 2px solid white;
    width: 50vw;
    height: 50vw;
}
