.container {
	display: flex;
	padding: 3em;
	align-items: center;
	justify-content: center;
}

.img-container {
	position: relative;
	overflow: hidden;
	width: 50vw;
	height: 35vw;
	object-fit: contain;
}

.img-container::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background: white; 
}

.img-container img {
	width: 50vw;
	position: absolute;
}