.container {
	display: flex;
	padding: 3em;
	align-items: center;
}

.anim-img-container {
	position: relative;
	overflow: hidden;
}

.anim-img-container::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background: pink; 
}

.img-container img {
	position: absolute;
}